*
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!*.py

cmake-build-debug/

新股网下发行获配明细表.csv
downloaded_pdf.pdf
pdf_file/
