*
!*/
.*
!.gitignore
!*.h
!*.c
!*.cc
!*.sln
!*.vcxproj
!*.vcxproj.filters

!*.ini
!*.yaml
!*.md
!*.pdf
!*.xlsx
!*.docx
!*.sh

!Makefile*
!Dockerfile*
!CMakeLists.txt

!lib/**/*.dll
!lib/**/*.lib
!lib/**/*.so
!lib/**/*.xml
!lib/**/*.dtd

cmake-build-debug/

新股网下发行获配明细表.csv
downloaded_pdf.pdf
